# App Configuration
HOST_PORT=5007

# AxiDraw Plotter Configuration
AXIDRAW_MODEL=4
AXIDRAW_CONFIG="/home/YOURNAME/AxiDraw/Devices/MiniKit-v2/axidraw_conf.py"
AXIDRAW_MODEL_2_CONFIG="/home/YOURNAME/AxiDraw/Devices/AxiDraw-A3/axidraw_conf.py"
AXIDRAW_MODEL_4_CONFIG="/home/YOURNAME/AxiDraw/Devices/MiniKit-v2/axidraw_conf.py"
