/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  background-color: #CCC;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button {
  display: block;
  background-color: rgb(76, 175, 80);
  color: white;
  text-align: center;
  cursor: pointer;
  margin: 1em auto;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 0.5em;
}

div.artwork {
  /*background-color: #CCC;*/
  /*border: 1px solid black;*/
  padding: 1em;
  max-width: 576px;
  margin:  0 auto;
  min-height: 200px; /* Prevent collapse, adjust as needed */
  transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  height: auto;
}

.artwork object {
  display: block;
  background-color: #FFF;
  max-width: 576px;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 7px 2px;
  width: 100% !important;
  height: auto !important;
  margin-bottom: 1em;
}

.artwork img{
  display: block;
  background-color: #FFF;
  max-width: 576px;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 7px 2px;
  width: 100% !important;
  height: auto !important;
  margin-bottom: 1em;
}

.svg-info {
  padding:  1em;
  width:  548px;
  margin:  0 auto;

  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  padding: 0.75em;
  margin-top: 1em;
  text-align: left;
  font-size: 0.9em;
}

.svg-info p {
  margin: 0.5em 0;
}

.svg-info strong {
  color: #555;
}

.fit-good {
  color: #2e7d32;
  font-weight: bold;
}

.fit-bad {
  color: #c62828;
  font-weight: bold;
}

div.file_list {
  background-color: #fff;
  padding:  1em;
  border:  1px solid black;
  max-width:  576px;
  margin:  0 auto;
  height: 20em;
  overflow-y: scroll;
}

ol#files li {
  padding-bottom:  0.25em;
}

ol#files li.selected {
  background-color: rgb(255,255,128);
}

div.plotter {
  /*background-color: #fff;*/
  /*border-left:  1px solid black;*/
  /*border-right:  1px solid black;*/
  padding:  1em;
  width:  576px;
  margin:  0 auto;
  text-align: center;
}

.plotter-status {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1em;
  text-align: left;
}

.plotter-status h3 {
  margin: 0 0 1em 0;
  color: #333;
  text-align: center;
}

.plotter-status p {
  margin: 0.5em 0;
  font-size: 0.95em;
}

.plotter-status strong {
  color: #555;
}

#plotter-status {
  font-weight: bold;
}

#plotter-config details {
  margin-top: 1em;
  padding: 0.5em;
  background-color: #f9f9f9;
  border-radius: 0.25em;
}

#plotter-config summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.25em;
}

#config-details p {
  font-size: 0.85em;
  margin: 0.25em 0;
}

#filename {
  text-align: center;
  font-weight: bold;
}

button:disabled {
  background-color: rgb(64, 64, 64);
  color: rgb(200, 200, 200);
  cursor: not-allowed;
  opacity: 0.6;
}