<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Plot Server</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1, maximum-scale = 1" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#000000">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="artwork">
    </div>

    <div class="plotter">
        <button id="submit_plot" type="button">Plot</button>
    </div>

    <div class="file_list">
        <ul id="files">
        {% for f in files %}
            <li><a href="/static/sketches/{{f}}" data-filename="{{f}}">{{f}}</a></li>
        {% endfor %}
        </ul>
    </div>

    <script>

        // Add event handler to each file link
        document.querySelectorAll("#files a").forEach(item => {
            item.addEventListener("click", function(event){

                // Clear any "selected" list items
                document.querySelectorAll('ul#files li.selected').forEach((el) => el.classList.remove('selected'));

                // Apply class to highlight clicked item
                event.target.parentElement.classList.add('selected');

                // Parse file request
                let filepath = this.getAttribute("href");
                let filename = this.getAttribute("data-filename");

                // Insert an image request
                document.querySelector("div.artwork").innerHTML = '<img src="' + filepath + '" alt="" />'
                    + '<div style="text-align: center">' + filename + '</div>';

                // Set the value on the plot button
                document.querySelector("#submit_plot").setAttribute("value", filename);

                // Stop link from loading a page request
                event.preventDefault();
            })
        });

        // Add event handler to Plot button
        document.querySelector('#submit_plot').addEventListener("click", function(event){

            send_plot_request(this.getAttribute("value"));

            event.preventDefault();
        });

        // Send an API request
        function send_plot_request(filename){
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/plot/' + filename);
            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log(xhr.responseText);
                }
            };
            xhr.send();
        }

    </script>

</body>
</html>